@media (min-width: 451px) {
    html,body{
        background-color: #071330;
        height:100%;
        width:100%;
    }
    .main {
        /* border: solid red; */
        background-color: #071330;
        align-content: center;
        height: 100vh;
    }

    .mainContent {
        /* border: solid green; */
        display: flex;
        width:100%;
        height: 100%;
    }

    .linkIcon {
        height: 50px;
        margin:5px;
        border: solid #C3CEDA;
        border-radius: 5px;
    }

    .mainMylinks {
        /* border: solid pink; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:15%;
    }

    .leftLinks{
        display: flex;
        flex-direction: column;
        /* border: solid orange; */
        justify-content: center;
        align-items: baseline;
        animation: linkFadeinLeft .8s;
    }

    @keyframes linkFadeinLeft {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        20% {
            opacity: 0;
            transform: translateX(-20px);
        }
    }

    .textContainer {
        /* border:solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #C3CEDA;
        width:100%;
    }

    .mainContents {
        display: flex;
    }

    .rightArrowBox {
        /* border: solid red; */
        display: flex;
        width: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    .navbar{
        display:none;
    }
    /* .weather {
        height: 150px;
        color: #C3CEDA;
        display:flex;
        flex-direction: column;
        align-items: center;
    } */



    .loading {
        background-color: #071330;
        height:100%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* @media (max-width:450px) {

} */